{% load bootstrap4 i18n static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>
    {% block link %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<header class="masthead mb-auto">
    {% include 'components/navbar.html' %}
</header>
<main role="main" class="container wrapper flex-grow-1">
    <div class="my-4">
        {% bootstrap_messages %}
    </div>
    <h1 class="my-4">{% block header %}{% endblock %}</h1>
    {% block additional %}{% endblock %}
    {% block content %}{% endblock %}
</main>
<footer class="modal-footer mt-auto">
    {% include 'components/footer.html' %}
</footer>
</body>
</html>