{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Sign in" %}{% endblock %}
{% block content %}
    {% if not user.is_authenticated %}
        <form action="" method="post">
            <h1 class="cover-heading h2 mb-3 font-weight-normal">{% trans "Please sign in" %}</h1>
            {{ login_redirect }}
            {% csrf_token %}
            {% bootstrap_form_errors form type='fields' layout='inline' %}
            {% bootstrap_form form layout='inline' %}
            <button class="btn btn-lg btn-primary">{% trans 'Log in' %}</button>
        </form>
    {% else %}
        <div class='text-center'>
            <p class='lead'>{% trans "You're already sign in..." %}</p>
            <p class="btn btn-block"><a href="{% url 'home' %}">{% trans 'Back to home' %}</a></p>
            <p class="btn btn-block"><a href="{% url 'auth:logout' %}">{% trans 'Sign out' %}</a></p>
        </div>
    {% endif %}
{% endblock %}