{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Delete task" %}{% endblock %}
{% block content %}
    <form action="" method="post">
        <h1 class="cover-heading h2 mb-3 font-weight-normal">{% trans "Delete task" %}</h1>
        {% csrf_token %}
        {% bootstrap_form_errors form type='fields' layout='inline' %}
        {% bootstrap_form form layout='inline' %}
        <p>{% trans "Are you sure you want to delete" %} {{ object.name }}?</p>
        <button class="btn btn-lg btn-danger">{% trans 'Submit' %}</button>
    </form>
{% endblock %}