{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Tasks" %}{% endblock %}
{% block header %}{% translate 'Tasks' %}{% endblock %}
{% block additional %}
    <div class="accordion" id="accordionFilter">
        <div class="card mb-3">
            <div class="card-header" id="headingFilter">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFilter"
                            aria-expanded="true" aria-controls="collapseFilter">
                        {% trans 'Filter' %}
                    </button>
                </h5>
            </div>
            <div id="collapseFilter" class="collapse show" aria-labelledby="headingFilter" data-parent="#accordionFilter">
                <div class="card-body bg-light">
                    <form method="get" class="form-vertical center">
                        {% bootstrap_form filter.form %}
                        <button class="btn-sm btn-lg btn-primary" type="submit">{% trans 'Show' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock additional %}
{% block content %}
    <a class="nav-link" href="{% url 'tasks:create' %}">{% trans 'Create task' %}</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Author' %}</th>
                <th scope="col">{% trans 'Executor' %}</th>
                <th scope="col">{% trans 'Date create' %}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in object_list %}
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td><a href="{% url 'tasks:card' pk=task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.author }}</td>
                    <td>{{ task.executor }}</td>
                    <td>{{ task.date_create|date:"d.m.Y G:i" }}</td>
                    <td>
                        <a href="{% url 'tasks:update' pk=task.id %}">{% trans 'Change' %}</a>
                        <br>
                        <a href="{% url 'tasks:delete' pk=task.id %}">{% trans 'Delete' %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}